
<br>

<br>

<div>
    
    <!-- Title -->
    <dt>
        <h5 id="arches-measurement-form" class="section-headline"> TOP SITES IN YEMEN: </h5>
    </dt>
    
</div>

<br>

<br>
<!-- Service Blocks -->
<div class="row margin-bottom-40">
    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-bank"></i>
            <a class= "" href='?page=1&termFilter=%5B%7B"inverted"%3Afalse%2C"type"%3A"term"%2C"context"%3A"b61ff614-ced2-11e5-849b-23c0bdbdcc6a"%2C"context_label"%3A"Name.E41"%2C"id"%3A"Baraqishb61ff614-ced2-11e5-849b-23c0bdbdcc6a"%2C"text"%3A"Baraqish"%2C"value"%3A"Baraqish"%7D%5D&temporalFilter=%7B"year_min_max"%3A%5B%5D%2C"filters"%3A%5B%5D%2C"inverted"%3Afalse%7D&spatialFilter=%7B"geometry"%3A%7B"type"%3A""%2C"coordinates"%3A%5B%5D%7D%2C"buffer"%3A%7B"width"%3A"0"%2C"unit"%3A"m"%7D%2C"inverted"%3Afalse%7D&mapExpanded=false&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue">Barāqish</h2></a>
            <p>The ancient city of Yathill</p>
        </div>
    </div>
   
   <div class="col-sm-4">
       <div class="servive-block servive-block-default">
           <i class="icon-custom rounded-x icon-bg-dark fa fa-bank"></i>
           <a class= "" href='?page=1&termFilter=%5B%7B"inverted"%3Afalse%2C"type"%3A"term"%2C"context"%3A"b61ff614-ced2-11e5-849b-23c0bdbdcc6a"%2C"context_label"%3A"Name.E41"%2C"id"%3A"Qanab61ff614-ced2-11e5-849b-23c0bdbdcc6a"%2C"text"%3A"Qana"%2C"value"%3A"Qana"%7D%5D&temporalFilter=%7B"year_min_max"%3A%5B%5D%2C"filters"%3A%5B%5D%2C"inverted"%3Afalse%7D&spatialFilter=%7B"geometry"%3A%7B"type"%3A""%2C"coordinates"%3A%5B%5D%7D%2C"buffer"%3A%7B"width"%3A"0"%2C"unit"%3A"m"%7D%2C"inverted"%3Afalse%7D&mapExpanded=false&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue">Biʾr ʿAlī</h2></a>
           <p>See the site record for ancient Qana</p>
       </div>
   </div>
   
    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-bank"></i>
            <a class= "" href='?page=1&termFilter=%5B%7B"inverted"%3Afalse%2C"type"%3A"term"%2C"context"%3A"b61ff614-ced2-11e5-849b-23c0bdbdcc6a"%2C"context_label"%3A"Name.E41"%2C"id"%3A"Shabwab61ff614-ced2-11e5-849b-23c0bdbdcc6a"%2C"text"%3A"Shabwa"%2C"value"%3A"Shabwa"%7D%5D&temporalFilter=%7B"year_min_max"%3A%5B%5D%2C"filters"%3A%5B%5D%2C"inverted"%3Afalse%7D&spatialFilter=%7B"geometry"%3A%7B"type"%3A""%2C"coordinates"%3A%5B%5D%7D%2C"buffer"%3A%7B"width"%3A"0"%2C"unit"%3A"m"%7D%2C"inverted"%3Afalse%7D&mapExpanded=false&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue"> Shabwa </h2></a>
            <p>The ancient capital of Hadramawt</p>
        </div>
    </div>
</div>


