*.DS_Store
*.pyc
*.xslx

eamena/elasticsearch
eamena/.htaccess
eamena/settings_local.py

Procfile
virtualenv/ENV
tests/elasticsearch
tests/log
arches/db/install/install_db.sql
arches/db/install/truncate_db.sql
arches/install/elasticsearch-1.4.1.zip
eamena/logs/*.txt

.idea/
